/*
 * BrAPI implementation for PIPPA
 * A first draft implementation of the breeding API
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.brapi.client.api;

import org.brapi.client.ApiCallback;
import org.brapi.client.ApiClient;
import org.brapi.client.ApiException;
import org.brapi.client.ApiResponse;
import org.brapi.client.Configuration;
import org.brapi.client.Pair;
import org.brapi.client.ProgressRequestBody;
import org.brapi.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.brapi.client.model.GermplasmSearchResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class GermplasmApi {
    private ApiClient apiClient;

    public GermplasmApi() {
        this(Configuration.getDefaultApiClient());
    }

    public GermplasmApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for germplasmSearch */
    private com.squareup.okhttp.Call germplasmSearchCall(Integer germplasmDbId, String germplasmSpecies, String germplasmName, Integer pageSize, Integer page, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/brapi/v1/germplasm-search".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (germplasmDbId != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "germplasmDbId", germplasmDbId));
        if (germplasmSpecies != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "germplasmSpecies", germplasmSpecies));
        if (germplasmName != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "germplasmName", germplasmName));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pageSize", pageSize));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call germplasmSearchValidateBeforeCall(Integer germplasmDbId, String germplasmSpecies, String germplasmName, Integer pageSize, Integer page, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = germplasmSearchCall(germplasmDbId, germplasmSpecies, germplasmName, pageSize, page, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Returns a list of germplasms
     * 
     * @param germplasmDbId Filter germplasms by database id (optional)
     * @param germplasmSpecies Filter germplasms by species name (optional)
     * @param germplasmName Filter measurements by variable id (optional)
     * @param pageSize Size of page (optional)
     * @param page Page number (optional)
     * @return GermplasmSearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GermplasmSearchResult germplasmSearch(Integer germplasmDbId, String germplasmSpecies, String germplasmName, Integer pageSize, Integer page) throws ApiException {
        ApiResponse<GermplasmSearchResult> resp = germplasmSearchWithHttpInfo(germplasmDbId, germplasmSpecies, germplasmName, pageSize, page);
        return resp.getData();
    }

    /**
     * Returns a list of germplasms
     * 
     * @param germplasmDbId Filter germplasms by database id (optional)
     * @param germplasmSpecies Filter germplasms by species name (optional)
     * @param germplasmName Filter measurements by variable id (optional)
     * @param pageSize Size of page (optional)
     * @param page Page number (optional)
     * @return ApiResponse&lt;GermplasmSearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GermplasmSearchResult> germplasmSearchWithHttpInfo(Integer germplasmDbId, String germplasmSpecies, String germplasmName, Integer pageSize, Integer page) throws ApiException {
        com.squareup.okhttp.Call call = germplasmSearchValidateBeforeCall(germplasmDbId, germplasmSpecies, germplasmName, pageSize, page, null, null);
        Type localVarReturnType = new TypeToken<GermplasmSearchResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Returns a list of germplasms (asynchronously)
     * 
     * @param germplasmDbId Filter germplasms by database id (optional)
     * @param germplasmSpecies Filter germplasms by species name (optional)
     * @param germplasmName Filter measurements by variable id (optional)
     * @param pageSize Size of page (optional)
     * @param page Page number (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call germplasmSearchAsync(Integer germplasmDbId, String germplasmSpecies, String germplasmName, Integer pageSize, Integer page, final ApiCallback<GermplasmSearchResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = germplasmSearchValidateBeforeCall(germplasmDbId, germplasmSpecies, germplasmName, pageSize, page, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GermplasmSearchResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
